<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>トランプのカード生成</title>
</head>
<body>
    <p>あなたの入力した数値：<%= your %></p>
    <p>コンピュータのマーク：<%= cpu %></p>
    <p>今回のトランプのカード：<%= cpu %>の<%= your %></p>
    <hr>
    <form action="/cards">
        <input type="number" name="number" required>
        <label for="number">トランプの数字を入力しよう</label>
        <input type="submit" values="結果">
    </form>   
</body>
</html>